	.jtk-demo-main {
		margin-top: 0;
		margin-left: 10px;
		width: 1155px;
		float: left;
	}
	
	.flowchart-demo .window {
		width: 125px;
		height: 125px;
	}

	.flowchart-demo .window img.scene-button{
		position: absolute;
		cursor: pointer;
	}
	.flowchart-demo .window img.scene-delete{
		bottom: 15px;
		right: 5px;
	}
	.flowchart-demo .window img.scene-edit{
		bottom: 15px;
		right: 40px;
	}
	
	.flowchart-demo .window.jtk-draggable {
		cursor: move;
	}